body {
    background-color: #20b2aa;
}

@media (min-width: 675px) {
    body {
        background-color: #ffb6c1;
    }
}

@media (min-width: 999px) {
    body {
        background-color: #7b68ee;
    }
}

@media (min-width: 1280px) {
    body {
        background-color: #9acd32;
    }
}
